@import "../../styles/lavenst.scss";

.add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include mobile {
        align-items: unset;
        padding-top: 96px;
    }

    @include tablet {
        align-items: unset;
        padding-top: 96px;
    }

    & .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        padding-bottom: 128px;

        @include mobile {
            max-width: 300px;
        }

        & h1 {
            font-size: 24px;
            color: rgb(0, 122, 255);
            margin: 64px 0 32px 0;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }
        }

        & .file-input {
            display: none;
        }

        & .image {
            width: 100%;
            height: 200px;
            background-color: $gray;
            border-radius:  8px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            flex-shrink: 0;

            & .add {
                display: flex;
                align-items: center;
                justify-content: center;

                & span {
                    font-size: 14px;
                    color: $dark;
                }
            }
        }

        & .MuiOutlinedInput-root {
            margin-bottom: 24px;
        }
    }
}