@import "../../styles/lavenst.scss";

.collap-list {
    display: flex;
    flex-direction: column;

    & .collap-header {
        display: flex;
        align-items: center;
        height: 64px;
        cursor: pointer;
        border-bottom: 1px solid $gray;

        & .title {
            flex: 1;
            font-size: 18px;
            margin: 0;
        }

        & .add-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 16px;
            background-color: #aed8ff6e;
            border-radius: 25px;
            color: #007aff;
            cursor: pointer;
            margin-right: 8px;

            & .icon {

            }

            & span {
                font-size: 14px;
                font-weight:  500;
            }
        }

        & .dropdown {
            transform:  rotate(0deg);
            transition: all .25s ease;

            &.up {
                transform:  rotate(180deg);
            }
        }
    }

    & .container {
        display: none;

        &.show {
            display: block;
        }   
    }
}