@import '../../styles/lavenst.scss';

.information-view {
    & .image {
        width: 100%;
        height: 300px;
        background-color: $dark;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    & .header {
        display: flex;
        align-items: center;

        & .title {
            display: flex;
            flex: 1;
            align-items: center;

            & h1 {
            }
    
            & .status {
                margin-left: 16px;
                padding: 4px 16px;
                border-radius: 25px;
                font-size: 14px;
                font-weight: 600;

                &.green {
                    background-color: #9ff3d96e;
                    color: #0f9e74;
                }
    
                &.red {
                    background-color: #f39f9f6e;
                    color: #e82a2a;
                }
            }
        }
        
        & .action-container {
            @include mobile {
                display: none;
            }

            & .action-btn {
                
            }
        }
    }

    & .address {
        color: $dark;
        font-size: 16px;
    }

    hr {
        margin-top: 32px;
        margin-bottom: 32px;
        border: none;
        background-color: $gray-2;
        height: 1px;
    }

    & p.information {
        margin-bottom: 32px;
    }

    & .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 128px;

        & h2 {
            margin-bottom: 32px;
        }

        & .split-line {
            width: 50%;
            height: 1px;
            background-color: $gray-2;
            margin-top: 48px;
            margin-bottom: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            max-width: 400px;

            & span {
                background-color: #fff;
                color: $dark-2;
                position: absolute;
                padding: 0 16px;
            }
        }

        & .form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 400px;

            & .MuiOutlinedInput-root {
                margin-bottom: 16px;
            }
        }
    }
}